@font-face {
  font-family: "iconfont"; /* Project id 2876419 */
  src: url('iconfont.woff2?t=1635948001047') format('woff2'),
       url('iconfont.woff?t=1635948001047') format('woff'),
       url('iconfont.ttf?t=1635948001047') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duigouxiao:before {
  content: "\e8bd";
}

.icon-zhihu-square-fill:before {
  content: "\ea8b";
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weixin:before {
  content: "\e62f";
}

.icon-yanjing:before {
  content: "\e8c7";
}

